body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
}

.logo{
    width: 120px;
    height: auto;
}
.card {
    border-radius: 10px;
    box-shadow:0px 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform:0 10px;
}
.btn-light {
    background-color: #f4a261;
    color:007bff;
}





/* Contact Section*/
.contact-container {
    max-width: 600px;
    background:white;
    padding:30px;
    border-radius: 10px;
    box-shadow: 0px 4ps 10px rbba(0 0 0 0.1);
}
.from-control {
    border-radius: 8px;
}
.from-control:focus {
    border: color #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
}
button {
    width:100%;
    padding:10px;
    font-size: 18px;
    border-radius: 8px;
}

.footer {
    background-color: #222;
    color:#fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 10px;
    font-family: Arial, sans-serif;
    margin:0 10px;

}

.footer h4 {
    font-size:1.2em;
    margin-bottom: 10px;
    color:#f4a261;

}

.footer p {
    font-size: 1em;
    margin:5px 0;
    
}

.social-links {
    margin: 10px;
}

.social-links a:hover{
    color:#e76f51;

}

.footer-copy {
    margin-top: 15px;
    font-size:0.9em;
    opacity:0.8;
}
footer a:hover {
    text-decoration: underline;
}