body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d2bfc1;
}
/*General Form Styling*/
.form-group {
    margin-bottom: 20px;
}
input, button {
    width: 100%;
    padding: 20px;
    font-size:  16px;
}
/*Logo*/
.logo{
    width: 100px;
    height: auto;
}
.logo img{
    height: 70px;
    vertical-align: middle;
}
.logo a:hover{
    color:#e76f51;
}

/*Card Styles*/
.card {
    border-radius: 10px;
    box-shadow:0px 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform:translateY(- 10px);
}
/*Menu Image*/
.menu-img {
    width:100%;
    height:auto;
    border-top-right-radius: 10px;
    
}.menu-category {
    margin-bottom: 40px;
}
.menu-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}
.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.menu_item img {
    width:200px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}
/*Fixed Card Shadow*/
.card {
    border-radius: 5px;
    box-shadow:0px,4px,10px,rgba(0,0,0,0.1);
}
/* Contact Section*/
.form-control:focus {
    border: color #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
}
/*Button Styles*/
button {
    width:100%;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    border:none;
    transition: background-color 0.3s ease-in-out;;
}
button:hover {
    background-color: darkred;
}
.btn-light {
    background-color: #f4a261;
    color:007bff;
}

/*Footer Styling*/
.footer {
    background-color: #222;
    color:#fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 10px;
    font-family: Arial, sans-serif;
    margin:0 10px;
}
.footer h4 {
    font-size:1.2em;
    margin-bottom: 10px;
    color:#f4a261;
}
.footer p {
    font-size: 1em;
    margin:5px 0;
    
}
.footer-copy {
    margin-top: 15px;
    font-size:0.9em;
    opacity:0.8;
}
footer a:hover {
    text-decoration: underline;
}
.social-links {
    margin: 10px;
}
.social-links a:hover{
    color:#e76f51;
} .social-links a:hover{
    color:#e76f51;
    }
/*Responsive Styling*/
@media (max-width: 768px) {
    .container {
        padding: 5px;
    }
}