<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <section class="container my-5" id="specials">
        <h2 class="text-center mb-4">Contact Us</h2>
        <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email">
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="4" placeholder="Enter your message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
    <footer class ="bg-light text-center py-4">
        <h4>Get in touch</h4>
        <p><strong>Phone:</strong> xxxxx</p>
        <h5>Address</h5>
        <p>Asmarino Restaurant, Veronikgränd Street, Stockholm</p>
        <div>
            <a href="https://www.facebook.com" target="_blank" rel="noopener">Facebook</a> |
            <i class="fab fa-facebook"></i>Find us on Facebook</a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener">Instagram</a> 
            <i class="fab fa-instagram"></i>Find us on Instagram</a>|
            <a href="https://www.twitter.com" target="_blank" rel="noopener">
            <i class="fab fa-twitter"></i>Find us on Twitter</a>
            </a>
        </div>
        <p class="mt-3">&copy; 2025 Restaurant Asmarino. ALL Rights Reserved.</p>
        <div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>