
{% extends 'my_restaurant/base.html' %}

{% load static%}
{% block title %} Menu | Asmarino Restaurant{% endblock %}

{% block content %}

<header class="bg-primary text-white text-center py-5">
    <h1>Our Menu </h1>
</header>
<div class="container mt-5">
<div class="row">
    
    {% for item in menu_items %}
        <div class="col-md-4">
            <div class="card mb-4">
                {% if item.image %}
                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
            {% else %}
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="No image available">
            {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="card-text"><strong>Price: ${{ item.price }}</strong></p>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No menu items available.</p>
    {% endfor %}
</div>
</div>
{% endblock %}

